# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.gradle/

# Chapter 03
Chapter03/ch3_part1/.classpath
Chapter03/ch3_part1/.project
Chapter03/ch3_part1/.settings/
Chapter03/ch3_part1/bin/
Chapter03/ch3_part1/upload-dir/
Chapter03/ch3_part2/.classpath
Chapter03/ch3_part2/.project
Chapter03/ch3_part2/.settings/
Chapter03/ch3_part2/bin/
Chapter03/ch3_part2/upload-dir/

